<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="checker.css">
    <title>Checkers</title>
</head>
<body>
    <div class="content">
        <a id="backLink" href="../../index.html">Back</a>
        <h1>Checkers</h1>
       
        
        <div id="boardElm" class="checkered-board" >
        </div>
        <button id="resetBnt">Reset</button>
    </div>
    
</body>
<script type="module" src="main.js"></script>
<!-- <script  src="../Checkers/Moldes/Board.js"></script> -->

</html>